* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:not(.bodyImg) {
    z-index: 2;
}

/* -----index----- */
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 1em;
    left: 0;
    z-index: 2;
}

.navbar-home {
    width: 50%;
    vertical-align: middle;
    padding-left: 1em;
}

/* .navbar-conn{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-end;
} */

.navbar-conn ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 1em;
}

.navbar-conn ul li {
    list-style: none;
    flex-direction: row;
    margin-right: 20%;
}

.navbar a:link,
a:visited {
    text-decoration: none;
    font-family: "Carter One", cursive;
    color: rgb(255, 255, 255);
}

.navbar-toggle {
    display: none;
}

h1.text-center {
    font-family: "East Sea Dokdo", cursive;
    font-size: 2em;
    color: rgb(255, 255, 255);
    padding-bottom: 0.5em;
}
/* .containerBodyImg{
    width: 100%;
    height: 100vh;
    background-color: green;
} */

.bodyImg {
    width: calc(100% + 50px);
    height: calc(100vh + 50px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: -25px;
    left: -25px;
    z-index: 1;
    filter: blur(10px) brightness(85%);
    /* -webkit-filter: brightness(85%); */
}

/* .bodyImgArtwork{
    width: calc(100% + 50px);
    height: calc(100vh + 50px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: -25px;
    left: -25px;
    z-index: 1;
    filter: blur(10px) brightness(85%);
    /* -webkit-filter: blur(5px); */

.container-index {
    width: 60%;
    text-align: center;
    position: absolute;
    top: 4em;
    left: 20%;
    z-index: 2;
    /* background-color: green; */
}

.container-img {
    display: block;
    width: 100%;
    min-height: 300px;
    background-size: cover;
    /* position: relative; */
    /* z-index: 2; */
    /* background-color: red; */
}

.container-img img {
    width: 100%;
    display: block;
    /* position: relative; */
    /* z-index: 2; */
}

.clickMe {
    font-family: "East Sea Dokdo", cursive;
    font-size: 2em;
    color: rgb(255, 255, 255);
    background-color: none;
}

.next {
    margin-top: 2em;
    font-family: "East Sea Dokdo", cursive;
    font-size: 2em;
    color: rgb(255, 255, 255);
    background-color: none;
}

/* -----register---- */

.register-form {
    width: 70%;
    max-width: 40%;
    margin-top: 8em;
    /*margin-left: 15%;
    margin-right: 15%; */
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
    padding: 2em;
    position: absolute;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

.register-form h2 {
    text-align: center;
    padding-bottom: 1em;
    font-family: "Carter One", cursive;
    color: white;
}

.register-form input {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 2em;
    border: 0px;
    padding: 2em;
    border-bottom: 2px solid white;
    outline: none;
    background: transparent;
    font-family: "Carter One", cursive;
    font-size: 1em;
    text-align: center;
    color: white;
}

.register-form button {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 0px;
    padding: 1em;
    border-bottom: 2px solid white;
    outline: none;
    background: white;
    font-family: "Carter One", cursive;
    font-size: 1em;
    text-align: center;
    color: black;
}

.cancel-button {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 0px;
    padding: 1em;
    outline: none;
    background: rgb(241, 91, 91);
    text-decoration: none;
    font-family: "Carter One", cursive;
    font-size: 1em;
    text-align: center;
    color: black;
}

/* ----login---- */

.login-form {
    width: 70%;
    max-width: 40%;
    margin-top: 8em;
    /*margin-left: 15%;
    margin-right: 15%; */
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
    padding: 2em;
    position: absolute;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

.login-form h2 {
    text-align: center;
    padding-bottom: 1em;
    font-family: "Carter One", cursive;
    color: white;
}
.login-form input {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 2em;
    border: 0px;
    padding: 2em;
    border-bottom: 2px solid white;
    outline: none;
    background: transparent;
    font-family: "Carter One", cursive;
    font-size: 1em;
    text-align: center;
    color: white;
}

.login-form button {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 0px;
    padding: 1em;
    border-bottom: 2px solid white;
    outline: none;
    background: white;
    font-family: "Carter One", cursive;
    font-size: 1em;
    text-align: center;
    color: black;
}

::-webkit-input-placeholder {
    color: white;
}

::-moz-input-placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

/* ----upload---- */

.container-upload {
    width: 70%;
    max-width: 40%;
    margin-top: 8em;
    /*margin-left: 15%;
    margin-right: 15%; */
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
    padding: 2em;
    position: absolute;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

.container-upload h2 {
    text-align: center;
    padding-bottom: 1em;
    font-family: "Carter One", cursive;
    color: white;
}

.container-upload label {
    display: block;
    text-align: center;
    padding-bottom: 1em;
    font-family: "Carter One", cursive;
    color: white;
}

.conatainer-upload input {
    display: block;
    margin-left: 30%;
    margin-bottom: 2em;
}

.imageUpload {
    display: block;
    margin-left: 30%;
    margin-bottom: 2em;
    text-align: center;
    color: white;
}

.container-upload button {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 0px;
    padding: 1em;
    border-bottom: 2px solid white;
    outline: none;
    background: white;
    font-family: "Carter One", cursive;
    font-size: 1em;
    text-align: center;
    color: black;
}

/* ----artwork---- */

.bodyImgArtwork {
    width: calc(100% + 50px);
    height: calc(100vh + 50px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: -25px;
    left: -25px;
    z-index: 1;
    filter: blur(10px) brightness(85%);
    /* -webkit-filter: blur(5px); */
}

.container-artwork {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 4em;
    left: 10%;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
    background-size: cover;
}

.container-artwork img {
    max-width: 100%;
    max-height: 100%;
}

.deletePicture > .fa-times {
    position: absolute;
    background-size: cover;
    top: 3em;
    right: 3em;
    transform: scale(5);
    color: red;
}

.deletePicture:hover .fa-times {
    display: block;
    position: absolute;
    transform: scale(10);
}

.uploader {
    padding: 1em 1em;
    font-size: 1em;
    font-weight: bold;
    color: white;
}

.geoloc {
    margin: 1em 0;
    color: white;
    font-family: "Carter One", cursive;
}

.lon-span {
    margin: 0 1em;
}

.submitComment {
    display: block;
    width: 20%;
    margin: 0 auto;
    border: 0px;
    padding: 1em;
    border-bottom: 2px solid white;
    outline: none;
    background: white;
    font-family: "Carter One", cursive;
    font-size: 1em;
    text-align: center;
    color: black;
}

.comments {
    border-collapse: collapse;
    width: 100%;
    /* height: 5vh; */
    table-layout: fixed;
    overflow-wrap: break-word;
    /* overflow: scroll; */
}

.comments caption {
    margin-top: 1em;
    border-bottom: 1px solid rgb(54, 54, 54);
    padding-bottom: 1em;
    font-family: "Carter One", cursive;
    font-size: 1em;
    color: white;
}

.comments th {
    width: 100%;
    text-align: left;
    padding: 1em 1em 1em;
    color: white;
    background-color: rgb(0, 0, 0, 0.3);
}

.comments td {
    /* border-bottom: 1px solid #ddd; */
    width: 100%;
    padding: 1em 1em 1em;
    text-align: left;
    color: white;
}

/* .comments th:nth-child(even){background-color: rgb(0, 0, 0, 0.3)} */

/* .comments td:nth-child(even){background-color: rgb(0, 0, 0, 0.3)} */

.deleteComment {
    width: 80%;
    color: white;
}

.deleteComment > .fa-times {
    color: rgb(255, 0, 0);
}

/* responsive */
@media screen and (min-width: 0px) and (max-width: 480px) {
    /* index */
    .navbar-toggle {
        display: block;
        position: absolute;
        right: 1.7em;
        top: 0.7em;
        transform: scale(2);
        color: white;
    }

    .navbar-conn {
        display: none;
    }

    .navbar-conn-responsive {
        display: flex;
        position: absolute;
        top: 0em;
        right: 4.5em;
        z-index: 3;
    }

    .navbar-conn-responsive ul {
        text-align: end;
    }

    .navbar-conn-responsive ul li {
        list-style: none;
        margin-bottom: 1em;
    }

    .navbar a:link,
    a:visited {
        text-decoration: none;
        font-family: "Carter One", cursive;
        color: rgb(255, 255, 255);
        z-index: 3;
    }

    .container-index {
        width: 100%;
        text-align: center;
        /* position: absolute; */
        top: 8em;
        left: 0;
        /* z-index: 2; */
        /* background-color: green; */
    }

    .container-img {
        display: block;
        width: 100%;
        min-height: 300px;
        margin-top: 4em;
        background-size: cover;
        /* position: relative; */
        /* z-index: 2; */
        /* background-color: red; */
    }

    .clickMe {
        font-family: "East Sea Dokdo", cursive;
        font-size: 2em;
        color: rgb(255, 255, 255);
        background-color: none;
    }

    .next {
        font-family: "East Sea Dokdo", cursive;
        font-size: 2em;
        color: rgb(255, 255, 255);
        background-color: none;
    }

    /* -----register---- */

    .register-form {
        width: 100%;
        max-width: 100%;
        margin-left: 0 auto;
        position: absolute;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    /* loginc*/

    .login-form {
        width: 100%;
        max-width: 100%;
        margin-left: 0 auto;
        position: absolute;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    /* upload */

    .container-upload {
        width: 100%;
        max-width: 100%;
        margin-left: 0 auto;
        position: absolute;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    /* artwork */

    .container-artwork {
        width: 100%;
        margin-top: 2em;
        position: absolute;
        top: 4em;
        left: 0;
        z-index: 2;
        background-size: cover;
        text-align: center;
        background-color: rgb(0, 0, 0, 0.5);
    }

    .container-artwork img {
        max-width: 100%;
        max-height: 100%;
    }

    .deletePicture > .fa-times {
        position: absolute;
        background-size: cover;
        top: 1em;
        right: 1em;
        transform: scale(3);
        color: red;
    }

    .submitComment {
        display: block;
        width: 50%;
        margin: 0 auto;
        border: 0px;
        padding: 1em;
        border-bottom: 2px solid white;
        outline: none;
        background: white;
        font-family: "Carter One", cursive;
        font-size: 1em;
        text-align: center;
        color: black;
    }

    .deletePicture:hover .fa-times {
        display: block;
        position: absolute;
        transform: scale(10);
    }

    .uploader {
        padding: 1em 1em;
        font-size: 1em;
        font-weight: bold;
        color: white;
    }

    .geoloc {
        margin: 1em 0;
        color: white;
        font-family: "Carter One", cursive;
    }

    .lon-span {
        margin: 0 1em;
    }

    .comments {
        border-collapse: collapse;
        width: 100%;
        /* height: 5vh; */
        table-layout: fixed;
        overflow-wrap: break-word;
        /* overflow: scroll; */
    }

    .comments caption {
        margin-top: 1em;
        border-bottom: 1px solid rgb(54, 54, 54);
        padding-bottom: 1em;
        font-family: "Carter One", cursive;
        font-size: 1em;
        color: white;
    }

    .comments th {
        width: 100%;
        text-align: left;
        padding: 1em 1em 1em;
        color: white;
        background-color: rgb(0, 0, 0, 0.3);
    }

    .comments td {
        /* border-bottom: 1px solid #ddd; */
        width: 100%;
        padding: 1em 1em 1em;
        text-align: left;
        color: white;
    }

    /* .comments th:nth-child(even){background-color: rgb(0, 0, 0, 0.3)} */

    /* .comments td:nth-child(even){background-color: rgb(0, 0, 0, 0.3)} */

    .deleteComment {
        width: 80%;
        color: white;
    }

    .deleteComment > .fa-times {
        color: rgb(255, 0, 0);
    }
}
